  <div class="deck-container">
    <div class="deck-card-info">
      <h2>{{name}}</h2>
      <p>{{count}} cards</p>
      <div class="creation-info">
        <h5>Created on: {{date}}</h5>
        <h5>Created by: {{creatorUn}}</h5>
      </div>
    </div>
    <div class="deck-card-buttons">
      <a href="/study/{{deckId}}">
        <button class="button">Study</button>
      </a>
      <a href="/deck/{{deckId}}">
        <button class="button">View</button>
      </a>
      {{#if (equals creatorId userId)}}
      <button class="button delete-deckPg-btn" data-id="{{deck.id}}">Delete</button>
      {{/if}}
    </div>
  </div>