  <div class="deck-container">
    <h2>{{name}}</h2>
    <p>{{count}} cards</p>
    <h4>Created on: {{date}}</h4>
    <h4>Created by: {{creator}}</h4>
    <a href="/study/{{id}}">
      <button class="button">Study</button>
    </a>
    <a href="/deck/{{id}}">
      <button class="button">View</button>
    </a>
    <a href="/">
      <button class="button">Delete</button>
    </a>
  </div>