  <div class="deck-container">
    <h2>{{name}}</h2>
    <p>{{count}} cards</p>
    <div class="creation-info">
      <h5>Created on: {{date}}</h5>
      <h5>Created by: {{creatorUn}}</h5>
    </div>
    <a href="/study/{{deckId}}">
      <button class="button">Study</button>
    </a>
    <a href="/deck/{{deckId}}">
      <button class="button">View</button>
    </a>
    {{#if (equals creatorId userId)}}
    <a href="/">
      <button class="button">Delete</button>
    </a>
    {{/if}}
  </div>