  <h2>{{name}}</h2>
  <h5>{{count}} cards</h5>
  <h4>Created on: {{date}}</h4>
  <h4>Created by: {{creator}}</h4>
  <a href="/study/{{id}}">
    <button class="button">Study</button>
  </a>
  <a href="/deck/{{id}}">
    <button class="button">View</button>
  </a>
  <a href="/">
    <button class="button">Delete</button>
  </a>