  <div class="card">
    <h1>{{ data.deck.name }}</h1>
    <h3>Creator: {{ data.creator.username }}</h3>
    <h3>Created on: {{ data.deck.createdAt }}</h3>
    <div class="editFlashcards-container">
      {{#each data.cards}}
      <div class="editFlashcard">
        <div class="editFlashcards-header">
          <h3>Card {{addOne @index}}</h3>  
          <div>
            <button class="save-card" data-id="{{id}}">Save</button>
            <button class="edit-card" data-id="{{id}}">Edit</button>
            <button class="delete-card" data-id="{{id}}">Delete</button>
          </div>
        </div>
        <div class="editFlashcards-body emulated-flex-gap">
          <div>
            <h4>Question:</h4>
            <p>{{question}}</p>
            <input type="text" value={{question}}>
          </div>
          <div>
            <h4>Answer:</h4>
            <p>{{answer}}</p>
            <input type="text" value={{answer}}>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
