  {{> navbar }}
  <div class="container-sm body-container">
    <h1 class="header-font">Welcome to FlipIt</h1>
    <form>
      <fieldset>
        <input type="hidden" id="userId" name="userId" value="{{user.id}}">
        <label for="deckSearch">Search deck name</label>
        <input type="text" placeholder="ex. Ichthyology" id="deckSearch">
        <label for="categorySearch">Search by category</label>
        <select id="categorySearch">
          {{#each data.categories}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <input class="button-primary" type="submit" value="Search">
      </fieldset>
    </form>
    <h2>Explore</h2>
    {{#each data.explore}}
      <button class="button" href="search/?category={{this.id}}&deck=&userId={{user.id}}">{{this.name}}</button>
    {{/each}}
  </div>