  <div class="card">
    <h1 class="header-font">Welcome to FlipIt</h1>
    <form id="deckSearch">
      <input type="hidden" id="userId" name="userId" value="{{user.id}}">
      <label for="deckInput">Search deck name</label>

      <input type="text" placeholder="ex. Ichthyology" id="deckInput">
      <label for="categoryInput">Search by category</label>

      <select id="categoryInput">
        <option value="" default>Select a category</option>
        {{#each data.categories}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
      
      <input class="button-primary" type="submit" value="Search">
    </form>
    <h2>Explore</h2>
    {{#each data.explore}}
      <a href="search/?category={{this.id}}&deck=&userId={{user.id}}">
        <button class="button">{{this.name}}</button>
      </a>
    {{/each}}
  </div>