  <div class="card">
    <div class="profilePg-header">
      <div class="profilePg-info">
        <h2>Hello, {{ user.username }}</h2>
        <p>Joined: {{ user.createdAt }}</p>
      </div>
      <div class="profilePg-buttons">
        <button class="button" id="create-deck">New Deck</button>
        <button class="button" id="delete-user" data-id="{{user.id}}">Delete account</button>
      </div>
    </div>
    <hr>
    <h3>Saved Decks:</h3>
    <div class="deck-list-container emulated-flex-gap">
      {{#each data.decks}}
        {{>deckContainer name=this.deck.name creatorUn=this.creator.username creatorId=this.creator.id userId=this.userId deckId=this.deck.id count=this.deck.cardCount date=this.deck.createdAt}}
      {{/each}}
    </div>
  </div>
  <!-- The Modal -->
  <div id="newDeck-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New Deck</h2>
        <p class="close">&times;</p>
      </div>
      <form id="createDeck-form">
        <input type="hidden" id="userId" name="userId" value="{{user.id}}">
    
        <label for="deckName">Deck name:</label>
        <input type="text" placeholder="ex. Ichthyology" id="deckName">

        <label for="deckCategory">Deck category:</label>
        <select id="deckCategory">
          <option value="" default>Select a category:</option>
          {{#each data.categories}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <div class="float-right">
          <input type="checkbox" checked id="private">
          <label class="label-inline" for="private">Make public</label>
        </div>
        
        <input class="button-primary" type="submit" value="Create">
      </form>
    </div>
  </div>
